<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
    <meta name="viewport" content="width=800">
    <style>

        /* body {
            padding: 20px;
        } */

    </style>
</head>
<body>
    <div id="app" class="row">
        <!-- 最初のコメント -->
        <div class="bg-warning col-12" v-if="is_first_page">
            <p class="pl-5 pt-3">
            【ゲーム説明】<br>
            今から16問の3択クイズを出題します。16問回答後、回答番号をもとにビンゴカードを作成できます。<br>
            ビンゴでは、正解の番号のみが読み上げられるので、できるだけたくさんの正解を目指してください！
            </p>
        </div>
        <!-- クイズを表示する部分 -->
        <div class="quiz col-12" v-if="!completed">
            <div class="card">
                <div class="card-body">
                    <p class="badge badge-dark">第 {{ (questionIndex+1) }} 問</p>
                    <br>
                    <h4 class="card-title">{{ currentQuestion.question }}</h4>
                    <hr>
                    <button
                        type="button"
                        class="btn btn-primary btn-lg btn-block text-left"
                        v-for="(answer,index) in currentQuestion.answers"
                        @click="addAnswer(index)">{{ (currentQuestionNumberBase + index+1) }}. {{ answer }}</button>
                </div>
            </div>
        </div>
        <img src="images/karameru0.jpeg" class="img-fluid">

        <!-- bingoを表示する部分 -->
        <div id="bingocard" v-if="completed">
            <div id="title">
                <h1 >BINGO</h1>
            </div>
            <table id="bingo" cellspacing="10">
                <tbody>
                    <tr>
                        <td id="bi0"></td>
                        <td id="bi1"></td>
                        <td id="bi2"></td>
                        <td id="bi3"></td>
                    </tr>
                    <tr>
                        <td id="bi4"></td>
                        <td id="bi5"></td>
                        <td id="bi6"></td>
                        <td id="bi7"></td>
                    </tr>
                    <tr>
                        <td id="bi8"></td>
                        <td id="bi9"></td>
                        <td id="bi10"></td>
                        <td id="bi11"></td>
                    </tr>
                    <tr>
                        <td id="bi12"></td>
                        <td id="bi13"></td>
                        <td id="bi14"></td>
                        <td id="bi15"></td>
                    </tr>
                </tbody>
            </table>
            <div id="button">
                <button v-on:click="createCard">カード作成</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script>
        function shuffle(array) {
            for (let i = array.length - 1; i > 0; i--) {
                let j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        };

        let element_id_list = ['bi0', 'bi1', 'bi2', 'bi3', 'bi4', 'bi5', 'bi6', 'bi7', 'bi8', 'bi9', 'bi10', 'bi11', 'bi12', 'bi13', 'bi14', 'bi15']

        // element_id_list.forEach(element => {
        //     document.getElementById(element).addEventListener('click',
        //         function () {
        //             console.log('clicked!!')
        //             console.log(this.style.backgroundColor)
        //             if (this.style.backgroundColor == '' || this.style.backgroundColor == 'rgb(183, 141, 74)'
        //             ) {
        //             this.style.backgroundColor = "#F0F0F0";
        //             this.style.color = "#B78D4A";
        //             } else {
        //             this.style.backgroundColor = "#B78D4A";
        //             this.style.color = "#F0F0F0";
        //             }
        //         }
        //     )
        // });

        new Vue({
            el: '#app',
            data: {
                answers: [],
                questionIndex: 0,
                questions: [
                    {
                        question: '2人が出会ったのは？',
                        answers: [
                            'with',
                            'pairs',
                            'tinder',
                        ],
                        answer: 1
                    },
                    {
                        question: '初めて見に行った映画のタイトルは何？',
                        answers: [
                            '天気の子',
                            '君の名は',
                            '紺青の拳',
                        ],
                        answer: 0
                    },
                    {
                        question: '初めて行った旅行先は?',
                        answers: [
                            '大阪',
                            '熱海',
                            '札幌',
                        ],
                        answer: 1
                    },
                    {
                        question: 'プロポーズの日に泊まったホテルは？',
                        answers: [
                            'グランドニッコー東京台場',
                            '帝国ホテル',
                            '品川プリンスホテル',
                        ],
                        answer: 2
                    },
                    {
                        question: '身長差は何cm？',
                        answers: [
                            '14 cm',
                            '17 cm',
                            '20 cm',
                        ],
                        answer: 2
                    },
                    {
                        question: '両家顔合わせの時のお店は？',
                        answers: [
                            '寺田屋',
                            '近江屋',
                            '浅田屋',
                        ],
                        answer: 3
                    },
                    {
                        question: 'プロポーズの日は？',
                        answers: [
                            '5月3日',
                            '5月4日',
                            '5月5日',
                        ],
                        answer: 1
                    },
                    {
                        question: '新婦が最近受けた試験は？',
                        answers: [
                            '漢字検定準1級',
                            '世界遺産検定3級',
                            '簿記3級',
                        ],
                        answer: 2
                    },
                    {
                        question: '新郎がハマっているラジオは？',
                        answers: [
                            '三四郎のオールナイトニッポン0',
                            '星野源のオールナイトニッポン',
                            'マジカルラブリーのオールナイトニッポン0',
                        ],
                        answer: 3
                    },
                    {
                        question: '付き合ってから何日目？',
                        answers: [
                            '1087日',
                            '1226日',
                            '1434日',
                        ],
                        answer: 2
                    },
                    {
                        question: '「映画名探偵コナンハロウィンの花嫁」何回観に行った？',
                        answers: [
                            '3回',
                            '4回',
                            '5回',
                        ],
                        answer: 1
                    }
                ],
                element_id_list : ['bi0', 'bi1', 'bi2', 'bi3', 'bi4', 'bi5', 'bi6', 'bi7', 'bi8', 'bi9', 'bi10', 'bi11', 'bi12', 'bi13', 'bi14', 'bi15']
            },
            methods: {
                addAnswer: function(index) {

                    this.answers.push(index + this.questionIndex*3 + 1);

                    if(!this.completed) {

                        this.questionIndex++;

                    }

                },
                createCard: function() {
                    shuffle(this.answers)
                    for (let i = 0; i < this.answers.length; i++) {
                        document.getElementById('bi' + i).innerHTML=this.answers[i];
                    }

                    element_id_list.forEach(element => {
                        document.getElementById(element).addEventListener('click',
                            function () {
                                if (this.style.backgroundColor == '' || this.style.backgroundColor == 'rgb(172, 223, 187)'
                                ) {
                                this.style.backgroundColor = "#F0F0F0";
                                this.style.color = "#B78D4A";
                                } else {
                                this.style.backgroundColor = "#acdfbb";
                                this.style.color = "#B78D4A";
                                }
                            }
                        )
                    });
                }
            },
            computed: {
                currentQuestion: function() {

                    return this.questions[this.questionIndex];

                },
                completed: function() {

                    return (this.questions.length == this.answers.length);

                },
                is_first_page: function() {
                    console.log(this.questionIndex)
                    return (this.questionIndex == 0)
                },
                currentQuestionNumberBase: function(){
                    return this.questionIndex * 3
                }
            }
        })
    </script>
    <!-- <script src="js/bingo.js"></script> -->
</body>
</html>
