/* クイズ部分のスタイル */
#quiz {
    padding: 40px
}

.flex {
    display: flex;
}

/* カード全体のスタイル */
#bingocard{
    margin: 0 auto;
    padding-top: 1rem;
}

#bingo{
    width: 500px;
    margin: 0 auto;
}

/* B I N G Oと番号のスタイル */
#bingo td {
    text-align: center;
    font-weight: normal;
}

/* B I N G O の文字のスタイル */
#bingo th{
    color: #B78D4A;
}

/* 番号のスタイルを設定 */
#bingo td {
    width: 125px;
    height: 125px;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    color: #B78D4A;
    background-color: #acdfbb;
    border: 5px solid #B78D4A;
    border-radius: 4rem 4rem 0 0;
}

/* 作成ボタンのスタイル */
#button{
    margin-top: 10px;
    text-align: center;
}

#button button{
    height: 3rem;
    width: 8rem;
    font-family: arial;
    font-weight: bolder;
    color: white;
    background-color: #B78D4A;
    border-radius: 2rem 2rem 2rem 2rem;
}

#title {
    height: 50px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: #B78D4A;
}

.gift-list {
    border: double 2px #057d23;/*破線 太さ 色*/
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto;
}

ul {
    margin-top: 1rem;
    color: #057d23;/*文字色*/
    background: #e0f0d7; /*背景色*/
    padding: 0.5em 0.5em 0.5em 2em;
  }
  
ul li{
    line-height: 1.5;
    padding: 0.5em 0;
}

.bingo-img {
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    vertical-align: bottom;
}

*, *:before, *:after {
  box-sizing: content-box
}
